@use "../../styles/mixins.scss";
.container {
  padding: 1rem;
  color: white;
  flex-grow: 1;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.offers {
  @include mixins.flexAround(row);
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 2rem;
  padding-bottom: 1rem;
}

.buttons {
  @include mixins.flexCenter(row);
  button {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .next {
    background-image: url(/arrow-right.svg);
  }
  .previous {
    background-image: url(/arrow-left.svg);
  }
}
.twoButtons {
  @include mixins.flexCenter(row);
  gap: 1rem;
}
