@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@mixin flexAround($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-around;
  align-items: center;
}
