
.container {
  width: 30px;
  height: 30px;


  z-index: 1;
  background-image: url(/shopping-card.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 600px) {
  .container {
    right: 2rem;
  }
}