@import "../../styles/variables.scss";

.wheeli {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(/shopping-card.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  transition: box-shadow 0.2s;
  border-radius: 0.5rem;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 4px 4px white;
    outline: none;
  }

  .hours {
    background-color: $rickBlue;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    z-index: 1;
    font-size: smaller;

    .underTen, .moreTen {
      position: relative;
      top:-4px;
    }

    .underTen {
      right: -4px;
    }

    .moreTen {
      right: -1.5px;
    }
  }
}
