@use "../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: calc(100% - 2rem);
  padding: 1rem;
  flex-grow: 1;
  background-color: rgba($color: #000000, $alpha: 0.5);
  img {
    grid-row: 1 / 3;
    aspect-ratio: 1;
    width: calc(100% - 2rem);
    height: auto;
    border-radius: 2rem;
    border: 5px black solid;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  }
}

.table {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem;
  font-weight: bold;
  font-size: large;
  gap: 0.2rem;
  grid-template-rows: repeat(5, 2.5rem);
  p {
    margin: 0.2rem;
  }
}

.priceAndBook {
  @include mixins.flexStart(column);
}

.priceTag {
  width: 208px;
  height: 78px;
  background-image: url(/pricetag.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #000000;
  transform-style: preserve-3d;
  perspective: 90px;
  transform: rotateZ(8deg);
  margin: 1rem;
  margin-top: 3rem;
}

.priceText {
  font-family: "Pacifico";
  width: 100px;
  margin-left: 24px;
  margin-top: 10px;
  font-size: 3.5rem;
  font-weight: 700;
  position: relative;
  top: -10px;
}

.flurbo {
  @include mixins.flurbo;
  width: 40px;
  margin-top: 14px;
  margin-left: 10px;
  height: 50px;
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 2fr;
  }

  .priceAndBook {
    @include mixins.flexAround(row);
  }

  .priceTag {
    margin: 0;
    margin-top: 0;
  }
}
