@use "../../styles/mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.container {
  @include mixins.flexBetween(column);
  background-color: white;
  border-radius: 2rem;
  color: black;
  width: 220px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  position: relative;
  transform: scale(1);
  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.05)
  }

  img {
    border-top-left-radius: 2em;
    border-top-right-radius: 2rem;
    width: 100%;
    height: 220px;
  }
  p,
  h3 {
    margin: 0;
  }
  h3 {
    font-family: "Pacifico";
    font-size: x-large;
    text-align: center;
  }

  p {
    position: relative;
  }

  .flurbo {
    @include mixins.flurbo;
    position: relative;
    top: 0.25rem;
    height: 1.3rem;
    width: 1rem;
  }

  .nameDiv {
    @include mixins.flexCenter(column);
    height: 6.5rem;
  }

  .specialOffer {
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url(/sales.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: -5px;
    top: -5px;
  }

  .salesExtra {
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 0.5rem;
    .flurbo {
      height: 0.7rem;
      top: 0.15rem;
      left: -5px;
    }
    .crossLine {
      color: red;
      position: relative;
      top: -0.7rem;
      margin-right: 0.5rem;
    }
  }
}

.informations {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 3rem);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  justify-items: center;
  vertical-align: center;
  p {
    font-size: larger;
  }
}
