@use "../../styles/variables";
@use "../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header {
  @include mixins.flexBetween(row);
  align-items: center;
  color: white;
  width: calc(100% - 2rem);
  padding: 0 1rem;
  font-family: Pacifico;
}

img {
  height: 2.5rem;
}