@use "../../styles/mixins";
@use "../../styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Pacifico&display=swap');

.container {
  position: relative;
}

.arrow {
  position: absolute;
  width: 50px;
  height: 10px;
  transform: rotate(-90deg);
  top: 3.2rem;
  background-image: url(/arrow.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.link {
  font-family: "Comic Neue";
  border: none;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
  color: white;
  padding: 0.25rem;
  transition: box-shadow 0.2s, transform 0.2s;
  border-radius: 0.25rem;
  transform: scale(1);
  width: 2.5rem;
  text-decoration: none;

  &:hover {
    box-shadow: 0px 0px 4px 4px white;
    outline: none;
    animation: flyingBook 3s linear 0s infinite;
  }
  &:focus {
    box-shadow: 0px 0px 4px 4px white;
    outline: none;
    animation: flyingBook 3s linear 0s infinite;
  }
  &:active {
    transform: scale(1.2);
  }
}
.selected {
  box-shadow: 0px 3px 5px 3px rgb(255, 255, 255); /* Box shadow under the active button */
}

@keyframes flyingBook {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 600px) {
  .arrow {
    transform: rotate(0deg);
    top: 0.5rem;
    right: 3.5rem;
  }
}
