@use "../../styles/mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.container {
  @include mixins.flexStart(column);
  width: 100%;
  margin-bottom: 0;
  flex-grow: 1;
  .emptyContainer {
    color: black;
    background-color: white;
    width: calc(220px - 1rem);
    padding: 0.5rem;
    border-radius: 1rem;
  }

  .flurbo {
    @include mixins.flurbo;
    position: relative;
    top: 0.2rem;
    left: 0.3rem;
    height: 1.1rem;
    width: 1rem;
  }

  .total {
    @include mixins.flexAround(row);
    gap: 5px;
    width: 100%;
    background-color: white;
    color: black;
    font-size: larger;

    .flurbo {
      height: 1.3rem;
    }
  }
}

.charContainer {
  @include mixins.flexStart(column);
  @extend .emptyContainer;
  margin: 2rem 0;
  max-height: 300px;
  h2 {
    font-family: 'Pacifico';
  }
  img {
    height: 100%;
    border-radius: 1rem;
  }

  .hours {
    @include mixins.flexAround(row);
    width: 100%;
    height: 1.2rem;
    margin: 0;
    .plusButton {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .minusButton {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    div {
      @include mixins.flexStart(row);
      border-radius: 5px;
      border: 1px solid black;
      font-size: small;
      padding: 0;
      button {
        background-color: white;
        border: none;
        height: 100%;
      }
      span {
        background-color: white;
        padding: 0 5px;
        border-right: 2px solid black;
        border-left: 2px solid black;
      }
    }
  }

  .price {
    @include mixins.flexAround(row);
    width: 100%;
    height: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
  }
}

.fullContainer {
  @include mixins.flexBetween(column);
  width: 100%;
  flex-grow: 1;
}
